.top{
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .avatar{
        img{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            cursor: pointer;
        }
    }
    .settings{
        padding: 0 1rem;
        svg{
            font-size: 2rem;
            color: #bcbebf;
            cursor: pointer;
        }
    }
}