.root{
    width: 100%;
    display: flex;
    .sidebar{
        width: 30%;
    }
    .chat{
        width: 70%;
        background-color: #f8f9fa;
        .chooseChat{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}